[submodule "designs/updown_caravel"]
	path = designs/updown_caravel
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = lulu9312/updown_caravel
[submodule "designs/subservient"]
	path = designs/subservient
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = klasnordmark/caravel_user_project/subservient_mpw4
[submodule "designs/Fixed2Float"]
	path = designs/Fixed2Float
	url = https://github.com/dhayalakumarm/Fixed2Float_MPW3
[submodule "designs/jacaranda8"]
	path = designs/jacaranda8
	url = https://github.com/cpu-dev/caravel_jacaranda-8
[submodule "designs/mbist_ctrl"]
	path = designs/mbist_ctrl
	url = https://github.com/dineshannayya/mbist_ctrl
[submodule "designs/FCNet_prj"]
	path = designs/FCNet_prj
	url = https://github.com/mxiangyue/caravel_user_project
[submodule "designs/soric_project"]
	path = designs/soric_project
	url = https://github.com/phthinh/soric_project
[submodule "designs/randsack"]
	path = designs/randsack
	url = https://github.com/harrisonpham/randsack
[submodule "designs/crypto_accelerator"]
	path = designs/crypto_accelerator
	url = https://github.com/asinghani/crypto-accelerator-chip-v2
[submodule "designs/peripheral_extender"]
	path = designs/peripheral_extender
	url = https://github.com/siva12a/caravel_peripheral_extender
[submodule "designs/picorF0"]
	path = designs/picorF0
	url = https://github.com/asinghani/caravel-picorF0
[submodule "designs/rotfpga"]
	path = designs/rotfpga
	url = https://github.com/htfab/rotfpga
[submodule "designs/FPU"]
	path = designs/FPU
	url = https://github.com/Lampro-Mellon/Caravel_FPU
[submodule "designs/soc_io_expander"]
	path = designs/soc_io_expander
	url = https://github.com/siva12a/soc_io_expander
[submodule "designs/yonga-lz4-decoder"]
	path = designs/yonga-lz4-decoder
	url = https://github.com/yongatek/caravel_yonga-lz4-decoder
[submodule "designs/APPROX_MULT"]
	path = designs/APPROX_MULT
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = SultanShadow/APPROX_MULT
[submodule "designs/RAD_HARD_ALU"]
	path = designs/RAD_HARD_ALU
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = SultanShadow/RAD_HARD_ALU
[submodule "designs/kasirga_k0"]
	path = designs/kasirga_k0
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = kasirgalabs/kasirga-k0
[submodule "designs/space_controller"]
	path = designs/space_controller
	url = https://github.com/jaquerinte/space_controller
[submodule "designs/junga_soc"]
	path = designs/junga_soc
	url = https://github.com/hhj1107/junga_soc_mpw4
[submodule "designs/counter_display_mv"]
	path = designs/counter_display_mv
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = mattvenn/zero_to_asic_MPW2_rerun
[submodule "designs/counter_mpw4_mv"]
	path = designs/counter_mpw4_mv
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = mattvenn/zero_to_asic_mpw4
[submodule "designs/koggestone_adder"]
	path = designs/koggestone_adder
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = zakirhussainvlsi/caravel_koggestone_adder_project
[submodule "designs/keyvalue_caravel"]
	path = designs/keyvalue_caravel
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = giraypultar/keyvalue_caravel
[submodule "designs/ks-guitar"]
	path = designs/ks-guitar
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = htfab/ks-guitar
[submodule "designs/ks-guitar-2s"]
	path = designs/ks-guitar-2s
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = htfab/ks-guitar-2s
[submodule "designs/counter_ICESOC"]
	path = designs/counter_ICESOC
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = nguyendao-uom/ICESOC
[submodule "designs/counter_REST"]
	path = designs/counter_REST
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = aliahmedphd/REST
[submodule "designs/counter_azadi"]
	path = designs/counter_azadi
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = sajjadahmed677/Azadi_II
[submodule "designs/counter_alperen"]
	path = designs/counter_alperen
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = alperenbolat0/caravel_user_project
[submodule "designs/counter_eeuet"]
	path = designs/counter_eeuet
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = eeuet/caravel_user_project
[submodule "designs/multi_encoder"]
	path = designs/multi_encoder
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = manikandan-phd/caravel_encoder
[submodule "designs/SHA1_engine"]
	path = designs/SHA1_engine
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = konradwilk/caravel_user_project
[submodule "designs/wishbone_CAN"]
	path = designs/wishbone_CAN
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = zaellis/caravel_user_project
[submodule "designs/subservient_SOC"]
	path = designs/subservient_SOC
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = MSPDUTTA/Subservient_SOC
[submodule "designs/axi_dma_wrapper"]
	path = designs/axi_dma_wrapper
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = pwang7/caravel_user_project
[submodule "designs/caravel_dsp"]
	path = designs/caravel_dsp
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = jayakumarjay-osh/caravel_dsp
[submodule "designs/eFPGA_v3_wrapper"]
	path = designs/eFPGA_v3_wrapper
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = nguyendao-uom/eFPGA_v3_caravel
[submodule "designs/radiation_harden"]
	path = designs/radiation_harden
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = jaquerinte/caravel_radiation_harden
[submodule "designs/azadi_soc"]
	path = designs/azadi_soc
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = merledu/caravel_azadi_soc
[submodule "designs/fuserisc"]
	path = designs/fuserisc
	url = https://github.com/andrewattwood/fuserisc
[submodule "designs/GpioCtrl"]
	path = designs/GpioCtrl
	url = https://github.com/iDPro-github/openMpwGpioCtrl
[submodule "designs/counter_rgb"]
	path = designs/counter_rgb
	url = https://github.com/mattvenn/zero_to_asic_mpw3
[submodule "designs/sudoku-accelerator"]
	path = designs/sudoku-accelerator
	url = https://github.com/anall/sudoku-accelerator-caravel
[submodule "designs/yonga-serv-accelerator"]
	path = designs/yonga-serv-accelerator
	url = https://github.com/yongatek/caravel_yonga-serv-accelerator
[submodule "designs/treepram"]
	path = designs/treepram
	url = https://github.com/htfab/treepram
[submodule "designs/sram_test"]
	path = designs/sram_test
	url = https://github.com/mtomlin5/caravel_sram_test
[submodule "designs/PWM-Generator"]
	path = designs/PWM-Generator
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = Karthikeyan564/PWM_Generator
[submodule "designs/vsdbabysoc"]
	path = designs/vsdbabysoc
	url = https://github.com/manili/vsdbabysoc_mpw3
[submodule "designs/counter_vsdsram"]
	path = designs/counter_vsdsram
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = ShonTaware/vsdsram_caravel
[submodule "designs/counter_efab"]
	path = designs/counter_efab
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = abf149/caravel_user_project
[submodule "designs/yonga-100m-ethernet"]
	path = designs/yonga-100m-ethernet
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = BYCakar/caravel_yonga-100m-ethernet
[submodule "designs/vsdmemsoc"]
	path = designs/vsdmemsoc
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = manili/vsdmemsoc_mpw3
[submodule "designs/FCNet_neuron"]
	path = designs/FCNet_neuron
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = mxiangyue/caravel_user_project
[submodule "designs/counter_hhj"]
	path = designs/counter_hhj
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = hhj1107/caravel_user_project
[submodule "designs/yifive_a2"]
	path = designs/yifive_a2
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = Univisiontechnocon-com/yifive_a2
[submodule "designs/wb_openram"]
	path = designs/wb_openram
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = embelon/caravel_wb_openram
[submodule "designs/mpw5_L1cache"]
	path = designs/mpw5_L1cache
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = shivanishah269/mpw5_L1cache
[submodule "designs/secure-memory"]
	path = designs/secure-memory
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = Procenne-Digital-Design/secure-memory
[submodule "designs/pwm_openmpw"]
	path = designs/pwm_openmpw
	url = https://github.com/SerdarUnal132/pwm_openmpw
[submodule "designs/NAND_Flash5"]
	path = designs/NAND_Flash5
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = BrandonOng22/caravel_user_project
[submodule "designs/PSRAM_PRANG"]
	path = designs/PSRAM_PRANG
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = steve-aurifexlabs/mpw5
[submodule "designs/counter_TestSOC"]
	path = designs/counter_TestSOC
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = acizmarik/caravel_user_project
[submodule "designs/IIC_AudioDAC"]
	path = designs/IIC_AudioDAC
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = hpretl/iic-audiodac-v1
[submodule "designs/alu_xor"]
	path = designs/alu_xor
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = Janavind/My_alu_xor
[submodule "designs/UETRV_Ecore"]
	path = designs/UETRV_Ecore
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = ee-uet/UETRV-ECORE
[submodule "designs/FMAC"]
	path = designs/FMAC
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = KashifInayat/F-MAC
[submodule "designs/GPS_Baseband"]
	path = designs/GPS_Baseband
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = ISL-ECE-CEG-AU/GPS_Baseband
[submodule "designs/async_fib2"]
	path = designs/async_fib2
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = 6Kotnk/async_fib2
[submodule "designs/marmot_asic"]
	path = designs/marmot_asic
	url = https://github.com/Hagiwara-shc/marmot_asic
[submodule "designs/qf100"]
	path = designs/qf100
	url = https://github.com/q3k/qf100
[submodule "designs/mpw-5c-C0"]
	path = designs/mpw-5c-C0
	url = https://github.com/kasirgalabs/mpw-5c-C0
[submodule "designs/Actuator_Controller"]
	path = designs/Actuator_Controller
	url = https://github.com/jasteve4/ActuatorController
[submodule "designs/mpw5_raster_engine"]
	path = designs/mpw5_raster_engine
	url = https://github.com/vanilyaliyogurt/raster_engine_mpw5
[submodule "designs/mpw5_open_eFPGA"]
	path = designs/mpw5_open_eFPGA
	url = https://github.com/nguyendao-uom/open_eFPGA
[submodule "designs/junga_soc_mpw5"]
	path = designs/junga_soc_mpw5
	url = https://github.com/hhj1107/junga_soc_mpw5
[submodule "designs/systolic_array"]
	path = designs/systolic_array
	url = https://github.com/vsdevaraddi/caravel_user_project
[submodule "designs/asicle"]
	path = designs/asicle
	url = https://github.com/htfab/asicle
[submodule "designs/mpw5_4ft4"]
	path = designs/mpw5_4ft4
	url = https://github.com/andars/caravel-4ft4
[submodule "designs/hack_soc_wrapper"]
	path = designs/hack_soc_wrapper
	url = https://github.com/mbalestrini/caravel_hack_soc
[submodule "designs/rng_chaos"]
	path = designs/rng_chaos
	url = https://github.com/onurkrts/RNG
[submodule "designs/riscduino_qcore"]
	path = designs/riscduino_qcore
	url = https://github.com/dineshannayya/riscduino_qcore
[submodule "designs/ChirstmasTreeController"]
	path = designs/ChirstmasTreeController
	url = https://github.com/The-OpenROAD-Project/caravel_user_project
	branch = JulienOury/ChristmasTreeController
[submodule "designs/riscduino_dcore"]
	path = designs/riscduino_dcore
	url = https://github.com/dineshannayya/riscduino_dcore
[submodule "designs/riscduino"]
	path = designs/riscduino
	url = https://github.com/dineshannayya/riscduino
[submodule "designs/logic_bist"]
	path = designs/logic_bist
	url = https://github.com/dineshannayya/logic_bist
[submodule "designs/mpw6_prga"]
	path = designs/mpw6_prga
	url = https://github.com/leon575777642/caravel_mpw5_prga
	branch = prga-mpw-6c
[submodule "designs/mpw6_microwatt"]
	path = designs/mpw6_microwatt
	url = https://github.com/antonblanchard/microwatt-mpw6
[submodule "designs/azadi_soc_iii_dft"]
	path = designs/azadi_soc_iii_dft
	url = https://github.com/merledu/caravel_azadi_soc_iii_dft
